@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

.HomePageHeader {
  background: black;
  color: red;
  text-align: center;
}

.container-fluid {
  /* border: 1px solid red; */
  background-color: white;
}

.home-text {
  font-family: 'Arial';
  font-size: xx-large;
  color: black;
}
